<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        width: 100vw;
        max-width: 100vw;
        overflow: hidden;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container textarea {
        width: 20vw;
        height: 20vh;
        margin-bottom: 1rem;
    }

</style>
<body>
    
    <div class="container">
        <textarea placeholder="Informações..." value="teste"></textarea>

        <div class="button-container">
            <button onclick="execLogin()">Login</button>

        </div>
    </div>

</body>
<script>
    function execLogin() {
        // Insira sua função de Login Aqui

        let dados = { 
            Nome:'Informações da Função'
        }

        // Os dados deverão ir para a função de print em formato de Obj
        document.querySelector('textarea').value = JSON.stringify(dados).replaceAll(',', '\n')
    }
</script>
</html>